<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>お問い合わせ編集画面</title>
	</head>
	
	<body>
		<h1>お問い合わせ編集画面</h1>
		
		<!--①入力データをControllerに送信　②データをcontactという箱に入れる-->
		<form th:action="@{/admin/contacts/{id}/update (id = ${contact.id})}"
			　
			  th:object="${contact}" method="post">
			  
			  <!-- id等の変更しないデータを扱うが画面には表示しない→空データのままControllerに届くとエラーのため -->
			  <input type="hidden" th:field="*{id}" />
			  <input type="hidden" th:field="*{createdAt}" />
			  <input type="hidden" th:field="*{updatedAt}" />
			  
			  <table border="1">
				  <tr>
					  <th>姓</th>
					  <td><input type="text" th:field="*{lastName}" /></td>
				  </tr>
				  <tr>
					  <th>名</th>
					  <td><input type="text" th:field="*{firstName}" /></td>
				  </tr>
				  <tr>
					  <th>メールアドレス</th>
				  	  <td><input type="text" th:field="*{email}" /></td>
				  </tr>
				  <tr>
					  <th>電話番号</th>
					  <td><input type="text" th:field="*{phone}" /></td>
				  </tr>
				  <tr>
					  <th>郵便番号</th>
					  <td><input type="text" th:field="*{zipCode}" /></td>
				  </tr>
				  <tr>
					  <th>住所</th>
					  <td><input type="text" th:field="*{address}" /></td>
				  </tr>
				  <tr>
					  <th>建物名</th>
					  <td><input type="text" th:field="*{buildingName}" /></td>
				  </tr>
				  <tr>
					  <th>お問い合わせ種別</th>
					  <td><input type="text" th:field="*{contactType}" /></td>
				  </tr> 
				  <tr>
					  <th>内容</th>
					  <td>
						  <textarea th:field="*{body}"></textarea>
					  </td>
				  </tr>
				  
				  
			  </table>
			  
			  <!--更新実行ボタン-->
			  <button type="submit">
				  更新
			  </button>
		
		
		</form>
	
	</body>
	
</html>